<div class="row">
<div class="col-4 col-md-2 p-1">
<img class="img-fluid" alt="{{ title }}" src="{{ gal1 }}"/>
</div>
<div class="col-4 col-md-2 p-1">
<img class="img-fluid" alt="{{ title }}" src="{{ gal2 }}"/>
</div>
<div class="col-4 col-md-2 p-1">
<img class="img-fluid" alt="{{ title }}" src="{{ gal3 }}"/>
</div>
<div class="col-4 col-md-2 p-1">
<img class="img-fluid" alt="{{ title }}" src="{{ gal4 }}"/>
</div>
<div class="col-4 col-md-2 p-1">
<img class="img-fluid" alt="{{ title }}" src="{{ gal5 }}"/>
</div>
<div class="col-4 col-md-2 p-1">
<img class="img-fluid" alt="{{ title }}" src="{{ gal6 }}"/>
</div>
</div>