<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/{{ cinema }}" title="{{ title }}"></iframe>
</div>
<div class="col-12 p-3 text-center">
 <h3>{{ foot }}</h3>
  <p><i>{{ foot1 }}</i></p>
</div>
<div class="col-12 p-3 p-md-5 text-center"><p>{{ foot2 }}<br>{{ foot3 }}<br>{{ foot4 }}<br>{{ foot5 }}<br>{{ foote }}<br>{{ foot6 }}</p><a href="https://github.com/mesinkasir/symfonywebapp" class="btn btn-light"><i class="fab fa-github"></i> Github Repo</a></div>