<div class="col-12 p-3 text-center">
<p class="p-1">{{ iconStart }}</p>
<div class="row">
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ icon1 }}" alt="{{ title }}"/><p>{{ contenticon1 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ icon2 }}" alt="{{ title }}"/><p>{{ contenticon2 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ icon3 }}" alt="{{ title }}"/><p>{{ contenticon3 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ icon4 }}" alt="{{ title }}"/><p>{{ contenticon4 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ icon5 }}" alt="{{ title }}"/><p>{{ contenticon5 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ icon6 }}" alt="{{ title }}"/><p>{{ contenticon6 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ icon7 }}" alt="{{ title }}"/><p>{{ contenticon7 }}</p></div></div>
<div class="col-6 col-md-3 p-3"><div class="border border-secondary"><img class="img-fluid" src="{{ icon8 }}" alt="{{ title }}"/><p>{{ contenticon8 }}</p></div></div>
</div>
</div>