<img class="img-fluid" src="{{ cover }}" alt="{{ title }}"/>
<div class="col-12 p-3 p-md-5 text-center">
<h1><a href="/">{{ title }}</a></h1>
<figure><blockquote class="blockquote"><h3>{{ description }}</h3></blockquote></figure>
<figcaption class="blockquote-footer">{{ figcaption }}</figcaption>
<p>{{ content }}</p>
</div>