<div class="col-12 p-3">
<h3 class="text-center">{{ menutitle }}</h3>
<div class="container">
<div class="row">
<a href="{{ menu1url }}" class="col-12 col-md-4 p-3">
<div class="card bg-dark">
  <img src="{{ menu1img }}" class="card-img-top" alt="{{ description }}">
  <div class="card-body">
    <p>{{ menu1content }}</p>
  </div>
</div>
</a>
<a href="{{ menu2url }}" class="col-12 col-md-4 p-3">
<div class="card bg-dark">
  <img src="{{ menu2img }}" class="card-img-top" alt="{{ description }}">
  <div class="card-body">
    <p>{{ menu2content }}</p>
  </div>
</div>
</a>
<a href="{{ menu3url }}" class="col-12 col-md-4 p-3">
<div class="card bg-dark">
  <img src="{{ menu3img }}" class="card-img-top" alt="{{ description }}">
  <div class="card-body">
    <p>{{ menu3content }}</p>
  </div>
</div>
</a>
<a href="{{ menu4url }}" class="col-12 col-md-4 p-3">
<div class="card bg-dark">
  <img src="{{ menu4img }}" class="card-img-top" alt="{{ description }}">
  <div class="card-body">
    <p>{{ menu4content }}</p>
  </div>
</div>
</a>
<a href="{{ menu5url }}" class="col-12 col-md-4 p-3">
<div class="card bg-dark">
  <img src="{{ menu5img }}" class="card-img-top" alt="{{ description }}">
  <div class="card-body">
    <p>{{ menu5content }}</p>
  </div>
</div>
</a>
<a href="{{ menu6url }}" class="col-12 col-md-4 p-3">
<div class="card bg-dark">
  <img src="{{ menu6img }}" class="card-img-top" alt="{{ description }}">
  <div class="card-body">
    <p>{{ menu6content }}</p>
  </div>
</div>
</a>
</div>
</div>
</div>